@{
    ViewData["Title"] = "Privacy Policy";
}
<html>

<body>
    <div class="container">
        <div class="login-container">
            <div class="Iniciar Sesion">
                <br>
                <h1>Sistema de Gestion De Posgrado</h1>
                <br />
                <br />
                <h4>Recuperacion de Contraseña:</h4>
                <form action="">
                    <br />
                    <label><b> Documento</b></label>
                    <p><input type="text" placeholder="Digite Documento" class="Documento"></p>
                    <label><b> Correo Electronico</b></label>
                    <p><input type="text" placeholder="Digite Correo" class="Correo Electronico"></p>
                    <br>
                    <input type="submit" class="submit" value="INGRESAR">
                    <input type="submit" class="submit" value="CANCELAR">


                </form>

            </div>
        </div>
    </div>
</body>
</html>
