@{
    ViewData["Title"] = "Olvidó su contraseña";
}
<html>
<head>
    <style>
        .header {
            height: 650px;
            padding: 20px;
            background-image: url("https://www.todofondos.net/wp-content/uploads/mas-de-67-fondos-de-pantalla-de-fondo-blanco.-fondo-de-pantalla-blancos.jpg")
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="login-container">
                <div class="Iniciar Sesion">
                    <br>
                    <h1><center>Sistema de Gestion de Posgrado</h1></center>
                    <br />
                    <br />
                    <h3>Recuperación de Contraseña:</h3>
                    <form action="">
                        <br />
                        <label><b> Documento</b></label>
                        <p><input type="text" placeholder="Digite Documento" class="Documento"></p>
                        <label><b> Correo Electronico</b></label>
                        <p><input type="text" placeholder="Digite Correo" class="Correo Electronico"></p>
                        <br>
                        <a href="https://localhost:44384/Home/Privacy" class="cbutton">Ingresar</a>

                        <a href="https://localhost:44384/" class="cbutton">Volver</a>
                        <br>


                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
