
@{
    ViewData["Title"] = "AdministrarUsuario";
}

<html>

<body>
    <div class="container">
        <div class="login-container">
            <div class="Iniciar Sesion">
                <br>
                <h1>Sistema de Gestion De Posgrado</h1>
                <form action="">
                   
                    <br>
                    <p><input type="text" placeholder="Digite Usuario" class="usuario"></p>
                    <p><input type="text" placeholder="Digite Contraseña" class="contraseña"></p>
                    <input type="submit" class="submit" value="INGRESAR">
                    <br>
                    <a href=>¿Olvido su Contraseña?</a>

                </form>

            </div>
        </div>
    </div>
</body>
</html>

