
@{
    ViewData["Title"] = "Administrar Usuario";
}


<html>

<body>
    <br>
    <h1><center>Sistema de Gestion De Posgrado</h1></center>
    <br />
    <br />
    <h3>Editar Usuario:</h3>
    <div style="text-align:right" style="color:red"> <a href="https://localhost:44384/">Cerrar Sesion</a></div>
    
    <input type="text" placeholder="Ingresar Usuario" class="Usuario">
    <input type="submit" class="submit" value="Buscar">
    <br />
    <br />
    <table style="width: 100%">
        <tr>
            <th>
                Tipo Documento
            </th>
            <th>
                Numero Documento
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Programa
            </th>
            <th>
                Rol
            </th>
            <th>
                Fecha Mod
            </th>
            <th>
                Opciones
            </th>

        </tr>
        <tr>
            <td>C.C</td>
            <td>1000873467</td>
            <td>Alfonso</td>
            <td>Pelaes</td>
            <td>Tecnologia en sistemas</td>
            <td>Coordinador</td>
            <td>15/04/19</td>
            <td>dfgbng</td>
        </tr>
        <tr>
            <td>C.C</td>
            <td>1003963467</td>
            <td>Miguel</td>
            <td>Pelaes</td>
            <td>Ciencias Forences</td>
            <td>Coordinador</td>
            <td>22/08/19</td>
            <td>dfgbng</td>
        </tr>
        <tr>
            <td>C.C</td>
            <td>1070873467</td>
            <td>Rodolfo</td>
            <td>Pelaes</td>
            <td>Tecnica Profesional En Sistemas</td>
            <td>Estudiante</td>
            <td>05/05/19</td>
            <td>dfgbng</td>
        </tr>
    </table>
    <br />
    <br />
    <div style="text-align:right"> <a href="https://localhost:44384/Admin/CrearUsuario" class="cbutton">Volver</a></div>
</body>

</html>

