@model SGPI.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}
<html>
<head>
    <style>
        .header {
            height: 700px;
            padding: 20px;
            background-image: url("https://www.todofondos.net/wp-content/uploads/mas-de-67-fondos-de-pantalla-de-fondo-blanco.-fondo-de-pantalla-blancos.jpg")
        }
    </style>
</head>
<body>
    <form method="post">
        <div class="header">



            <br>
            <h1><center>Sistema de Gestion De Posgrado</center></h1>
            <br />
            <h2>Crear Usuario:</h2>
            <div style="text-align:right"> <a href="https://localhost:44384/">Cerrar Sesion</a></div>
            <br />
            
            
            
            
            <br />
            <div>
                <div>
                    <label asp-for="TipoDoc"> Tipo de documento</label>
                    @Html.DropDownList("TipoDoc", new SelectList(ViewBag.tipoDoc, "IdTipoDoc", "ValTipoDoc"), new { @class = "from-control dropdown" })
                </div>

                <div>
                    <label asp-for="Documento">Documento</label>
                    <input asp-for="Documento" type="text" placeholder="Documento" />
                </div>
                <div>
                    <label asp-for="Genero">Genero</label>
                    @Html.DropDownList("Genero", new SelectList(ViewBag.genero, "IdGenero", "ValGenero"), new { @class = "from-control dropdown" })
                </div>

                
                <div>
                    <label asp-for="Nombre">Nombre</label>
                    <input asp-for="Nombre" type="text" placeholder="Nombre" />
                </div>

                <div>
                    <label asp-for="Apellido">Apellido</label>
                    <input asp-for="Apellido" type="text" placeholder="Apellido" />
                </div>

                
                
                
               
                <div>
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="text" placeholder="Email" />
                </div>
                <div>
                    <label asp-for="Telefono">Telefono</label>
                    <input asp-for="Telefono" type="text" placeholder="Telefono" />
                </div>
                <div>
                    <label asp-for="Direccion">Direccion</label>
                    <input asp-for="Direccion" type="text" placeholder="Direccion" />
                </div>
                
                Si: <input type="radio" name="">
                &nbsp;
                &nbsp;
                No:  <input type="radio" name="">
                

                
                <div>
                    <label asp-for="Rol">Rol</label>
                    @Html.DropDownList("Rol", new SelectList(ViewBag.rol, "IdRol", "ValRol"), new { @class = "from-control dropdown" })
                </div>

                

                <div>
                    <label asp-for="IdPrograma">Programa</label>
                    @Html.DropDownList("IdPrograma", new SelectList(ViewBag.idprograma, "IdPrograma", "ValPrograma"), new { @class = "from-control dropdown" })
                </div>
                <div style=" text-align:right; display:flex;justify-content: flex-end; flex-direction:row;flex-wrap: nowrap;align-content: stretch;">

                    <button class="cbutton" type="submit">Guardar</button>

                    <div style="text-align:right"> <a href="https://localhost:44384/Admin/MenuAdmin" class="cbutton">Volver</a></div>
                </div>
            </div>
</form>
</body>

</html>
