
@{
    ViewData["Title"] = "Menú Admin";
}

<h1>Administrador</h1>
<br>
<h2> <a href="https://localhost:44384/Admin/CrearUsuario">Crear Usuario</a></h2>
<br>
<h2> <a href="https://localhost:44384/Admin/AdministrarUsuario">Crear Usuario</a></h2>
<br>
<br>
<div style="text-align:right"> <a href="https://localhost:44384/" class="cbutton">Volver</a></div>

