
@{
    ViewData["Title"] = "Matricula";
}

<html>

<body>
    <br>
    <h1><center>Sistema de Gestion De Posgrado</h1></center>
    <br />
    <h2>Pagos Matricula:</h2>
    <br />
    <div style="text-align:right"> <a href=>Cerrar Sesion</a></div>
    <br />
    <br />
    <table style="width: 100%">
        <tr>
            <th>
                Nro.
            </th>
            <th>
                Valor Pagado
            </th>
            <th>
                Fecha Pago
            </th>
            <th>
                Comprobante de Pago
            </th>
            <th>
                Ver
            </th>


        </tr>
        <tr>
            <td>1</td>
            <td>1.000.873.</td>
            <td>03/04/19</td>
            <td><a href=>Comprobante de Pago</a></td>
            <td><a href=>Archivo</a></td>

        </tr>
        <tr>
            <td>2</td>
            <td>1.003.963.</td>
            <td>22/08/19</td>
            <td><a href=>Comprobante de Pago</a></td>
            <td><a href=>Archivo</a></td>

        </tr>
        <tr>
            <td>3</td>
            <td>2.873.467</td>
            <td>14/04/20</td>
            <td><a href=>Comprobante de Pago</a></td>
            <td><a href=>Archivo</a></td>
        </tr>
    </table>
    <br />
    <div style="text-align:right">
         <div style="text-align:right"> <a href="https://localhost:44384/Estudiante/Matricula" class="cbutton">Ingresar</a></div>
        <br>
        <div style="text-align:right"> <a href="https://localhost:44384/" class="cbutton">Volver</a></div>
        <br>
        <div style="text-align:right"> <a href="https://localhost:44384/Estudiante/Matricula" class="cbutton">Guardar</a></div>
    </div>
</body>

</html>

