
@{
    ViewData["Title"] = "Matricula";
}

<html>
<style type="text/css">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td, {
        padding: 20px;
    }

    th {
        text-align: left;
    }
</style>
<body>
    <br>
    <h1><center>Sistema de Gestion De Posgrado</h1></center>
    <br />
    <br />
    <h2>Pagos Matricula:</h2>
    <br />
    <div style="text-align:right"> <a href=>Cerrar Sesion</a></div>
    <br />
    <table style="width: 100%">
        <tr>
            <th>
                Nro.
            </th>
            <th>
                Valor Pagado
            </th>
            <th>
                Fecha Pago
            </th>
            <th>
                Comprobante de Pago
            </th>
            <th>
                Ver
            </th>


        </tr>
        <tr>
            <td>1</td>
            <td>1.000.873.</td>
            <td>03/04/19</td>
            <td><a href=>Comprovante de Pago</a></td>
            <td><a href=>Archivo</a></td>

        </tr>
        <tr>
            <td>2</td>
            <td>1.003.963.</td>
            <td>22/08/19</td>
            <td><a href=>Comprovante de Pago</a></td>
            <td><a href=>Archivo</a></td>

        </tr>
        <tr>
            <td>3</td>
            <td>2.873.467</td>
            <td>14/04/20</td>
            <td><a href=>Comprovante de Pago</a></td>
            <td><a href=>Archivo</a></td>
        </tr>
    </table>
    <br />
    <br />
    <div style="text-align:right"> <input type="submit" class="submit" value="VOLVER"></div>
</body>

</html>

