@{
    ViewData["Title"] = "MenuEstudiante";
}

<head>
    <style>
        .header {
            text-align: center;
            height: 470px;
            padding: 12px;
            background-image: url("https://img.freepik.com/foto-gratis/fondo-gris-pintado_53876-94041.jpg?w=2000")
        }

        .avatar {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        .datos {
            list-style: none;
            text-align: center;
            padding: 0;
        }

            .datos li {
                display: inline-block;
                margin: 5px
            }

        a {
            text-decoration: none;
            color: #ffffff;
        }

            a:hover {
                color: #000000
            }
    </style>
</head>
<body>
    <div>
        <div class="header">
            <img class="avatar"
                 src="https://us.123rf.com/450wm/apoev/apoev1903/apoev190300009/124806570-persona-hombre-de-marcador-de-posici%C3%B3n-de-foto-gris-en-camiseta-sobre-fondo-gris.jpg?ver=6"
        </div>
        <h1>MenuEstudiante</h1>
        <ul class="datos">
            <li>
                <label><b> Rodolfo alfonso Lopez</b></label>
                &nbsp;
                &nbsp;
                <label><b> dmjwj@gmail.com</b></label>
                &nbsp;
                &nbsp;
                <label><b> 1008977563</b></label>
            </li>
        </ul>
        <h2><div style="text-align:left"> <a href="https://localhost:44384/Estudiante/Matricula">Matricula</a></div></h2>
        <h2><div style="text-align:left"> <a href="https://localhost:44384/Estudiante/ConfigPerfil">Configurar perfil</a></div></h2>
        <div style="text-align:right"> <a href="https://localhost:44384" class="cbutton">Cerrar</a></div>
    </div>
</body>

