
@{
    ViewData["Title"] = "MenuEstudiante";
}

<h1>MenuEstudiante</h1>
<br>
<h2> <a href="https://localhost:44384/Estudiante/Matricula">Matricula</a></h2>
<br>
<h2> <a href="https://localhost:44384/Estudiante/ConfigPerfil">Configurar perfil</a></h2>
<br>

<br>
<div style="text-align:right"> <a href="https://localhost:44384/" class="cbutton">Volver</a></div>
