
@{
    ViewData["Title"] = "Consultas";
}

<html>

<body>
    <br>
    <h1><center>Sistema de Gestion De Posgrado</h1></center>
    <br />
    <br />
    <h2>Consultas:</h2>
    <br />
    <label><b> Buscar por documento:</b></label>
    <input type="text" placeholder="Nombre" class="nombre">
    <div style="text-align:right"> <a href="https://localhost:44384/">Cerrar Sesion</a></div>
    <label><b> Buscar por Programa:</b></label>
    <select>
        <option value="Ninguno">Ninguno </option>
        <option value="Tecnologia en Sistema">Tecnologia en Sistema </option>
        <option value="Ciencia Forence"> Ciencia Forence</option>
        <option value="Tecnica Profesional En Sistemas"> Tecnica Profesional En Sistemas </option>
        <option value="Maestría en Educación">Maestría en Educación </option>
        <option value="Profesional en Criminalística">Profesional en Criminalística </option>

    </select>
    <br />
    <input type="submit" class="submit" value="Buscar">
    <br />
    <table style="width: 100%">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Documento
            </th>
            <th>
                Programa
            </th>
            <th>
                E-mail
            </th>
            <th>
                Telefono
            </th>
            <th>
                Valor Pagado
            </th>
            <th>
                Fecha Pago
            </th>
            <th>
                Estado
            </th>

        </tr>
        <tr>
            <td>Rodolfo</td>
            <td>1000873467</td>
            <td>Tecnologia en Sistemas</td>
            <td>fsf@gmail.cmo</td>
            <td>31104853</td>
            <td>100.000</td>
            <td>15/04/19</td>
            <td>Cumplido</td>
        </tr>
        <tr>
            <td>Alfonso</td>
            <td>1000564467</td>
            <td>Tecnologia en Sistemas</td>
            <td>fsfghf@gmail.cmo</td>
            <td>31104853</td>
            <td>1.000.000</td>
            <td>15/04/19</td>
            <td>Cumplido</td>>
        </tr>
        <tr>
            <td>Miguel</td>
            <td>1002387347</td>
            <td>Derecho</td>
            <td>fsf241@gmail.cmo</td>
            <td>31104853</td>
            <td>500.000</td>
            <td>Nula</td>
            <td>Incumplido</td>
        </tr>
    </table>
    <br />
    <br />
        <div style="text-align:right"> <a href="https://localhost:44384/" class="cbutton">Volver</a></div>
</body>

</html>

