
@{
    ViewData["Title"] = "Menú Coordinador";
}

<h1>Coordinador</h1>
<br>
<h2> <a href="https://localhost:44384/Coordinador/Consultas">Consultar</a></h2>
<br>
<h2> <a href="https://localhost:44384/Coordinador/EntrevistaAdmision">Entrevistas admisiones</a></h2>
<br>
<h2> <a href="https://localhost:44384/Coordinador/HomologacionAsignatura">Homologar adignaturas</a></h2>
<br>
<h2> <a href="https://localhost:44384/Coordinador/ProgramarAsignatura">Programar asignaturas</a></h2>
<br>
<div style="text-align:right"> <a href="https://localhost:44384/" class="cbutton">Volver</a></div>
